<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
               
     <context:annotation-config/>
     
     <import resource="propertyConfig.xml"/>
     
     <bean id="jsonParser" class="com.dpaton.customer_invitations.json.JSONParser">
     	<property name="customersFilePath" value="${customers.json.file.location}"/>   
     </bean>
     <bean id="customersFilter" class="com.dpaton.customer_invitations.model.filter.CustomersFilter"/>
    
     <bean id="dublinOfficeCoordinates" class="com.dpaton.customer_invitations.model.DublinOfficeCoordinates">
     	<property name="latitude" value="${dublin.office.latitude}"/>   
     	<property name="longitude" value="${dublin.office.longitude}"/>   
     </bean>
     
     <bean id="geoUtils" class="com.dpaton.customer_invitations.geo.GeoUtils"/>
    
     <bean id="customEventOrganizer" class="com.dpaton.customer_invitations.CustomerEventOrganizer"/>
    
</beans>